/* components/Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 24px;
}

.nav ul {
  list-style: none;
  display: flex;
}

.nav ul li {
  margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  margin-right: 10px;
  padding: 8px;
}

.user-actions a {
  text-decoration: none;
  padding: 10px;
  margin-left: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

.user-actions a:hover {
  background-color: #fff;
  color: #333;
}
